<html>


<head>
  <title>payment page</title>
</head>
<style>
   body{background-color:beige;}
</style>
<body>

<h1> you can pay for your reserved table here!! </h1>
<h2>
  enjoy your food at your favourite restaurant with Book MY Table.
</h2>
<h3><i>now its safe to crave to your hearts content!!</i></h3>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

  <!-- Saved buttons use the "secure click" command -->
  <input type="hidden" name="cmd" value="_s-xclick">

  <!-- Saved buttons are identified by their button IDs -->
  <input type="hidden" name="hosted_button_id" value="221">

  <!-- Saved buttons display an appropriate button image. -->
  <input type="image" name="pay now"
    src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
    alt="PayPal - The safer, easier way to pay online">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

</form>
</body>

</html>
